<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>This is it!</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    </head>
    <body class="h-100" style="font-size: 1.3em;">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-7 border rounded stage h-100 colorbg" style="padding: 0px;">
                    <div class="col-12 h-100 w-100" style="background-image: url('/images/room.png'); background-position: center center; background-size: cover; background-repeat: no-repeat;">
                        <div class="d-flex h-100 justify-content-center stage-contents w-100" style="text-align: center;">

                        </div>
                    </div>
                </div>
                <div class="col-5 interact h-100">
                    <div class="col-12 h-100">
                        <div class="chat-container" style="display: flex; flex-direction: column-reverse; height: 80vh;">
                            <div class="chat-log" style="height: 79vh; overflow-y: auto;">

                            </div>
                        </div>
                        <div class="chat-input-area">
                            <hr />
                            <div id="display-actions">Tip: You can use the following actions on any object that you see (example: "<b>examine lake</b>"):</div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="action-text" placeholder="Type your action here" />
                                <button class="btn btn-primary send-action"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
        <script src="/socket.io/socket.io.js"></script>
        <script lang="javascript">
            var actions = [];
            var interactions = [];
            var possible_actions = {};
            var objects = [];
            var roomno = 0;
            var room = "start";
            var socket = io();
            var username = '{{ username }}';

            function displayItems() {
                $('.stage-contents').empty();
                for (index in objects) {
                    var obj = objects[index];
                    if(obj.visible == true) {
                        if(obj.hasOwnProperty("icon")) {
                            $('.stage-contents').append('<div class="object justify-content-center align-self-center rounded-circle" style="display: inline-block; text-align: center;"><image class="iconimage" src="../images/' + obj.icon + '" /><br />' + obj.name + '</div>');
                        } else {
                            $('.stage-contents').append('<div class="object justify-content-center align-self-center rounded-circle" style="display: inline-block; text-align: center;">' + obj.name + '</div>');
                        }
                    }
                }
            }

            function setRoom(params) {
                $('.colorbg').animate({backgroundColor: params.background});
                objects = params.objects;
                roomno = params.room;
                if(roomno > 1) {
                    socket.emit('progress', JSON.stringify({username: username, message: username + " has moved to Room " + params.room, type: "announcement"}));
                }
                displayItems();
            }

            function redrawInteractions() {
                $('.chat-log').empty();
                for(var i=0; i<interactions.length; i++) {
                    if(interactions[i].type == "interaction") {
                        $('.chat-log').append('<div class="interaction" style="width: 100%; margin-top: 15px;"><span class="badge badge-pill badge-primary ' + interactions[i].username + '" style="margin-right: 10px;">' + interactions[i].username + '</span>' + interactions[i].message + '</div>');
                    } else if(interactions[i].type == "announcement") {
                        $('.chat-log').append('<div class="announcement">' + interactions[i].message + '</div>');
                    } else if(interactions[i].type == "progress") {
                        if(interactions[i].username != username) {
                            $('.chat-log').append('<div class="proceed">' + interactions[i].message + '</div>');
                        }
                    };
                }
                var wtf = $('.chat-log');
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
                // $('.chat-log').scrollTop($('.chat-log').height());
            }

            function rot13(str) {
                var input     = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
                var output    = 'NOPQRSTUVWXYZABCDEFGHIJKLMnopqrstuvwxyzabcdefghijklm';
                var index     = x => input.indexOf(x);
                var translate = x => index(x) > -1 ? output[index(x)] : x;
                return str.split('').map(translate).join('');
            }

            function sendDelayedMessage(val) {
                window.setTimeout(function() {
                    interactions.push({username: val.username, message: val.message, type: "interaction"});
                    redrawInteractions();
                    if(val.obj.hasOwnProperty("type")) {
                        if(val.obj.type == "show") {
                            for(var i=0; i< val.obj.elements.length; i++) {
                                for(var j=0; j<objects.length; j++) {
                                    if(objects[j].name == val.obj.elements[i]) {
                                        objects[j].visible = true;
                                    }
                                }
                            }
                            displayItems();
                        }
                        if(val.obj.type == "proceed") {
                            interactions.push({username: val.username, message: "Moving to next room!", type: "progress"});
                            redrawInteractions();
                            window.setTimeout(function() {
                                getRoomData(val.obj.next);
                            }, 1000);
                        }
                    }
                }, 1000);
            }

            function sendMessage(value) {
                interactions.push({username: username, message: value, type: "interaction"});
                redrawInteractions();
                $('#action-text').val("");
                var thismessage = "You can't do that. Try something else.";
                var thisaction = "";
                var thistype = "";
                var thisnext = "";
                var thisobj = {};
                var val = value.toLowerCase();
                for(var i=0; i<actions.length; i++) {
                    if(val.indexOf(actions[i]) > -1) {
                        thisaction = actions[i];
                        break;
                    }
                }
                var found = false;
                if(possible_actions.hasOwnProperty(thisaction)) {
                    for(obj in possible_actions[thisaction]) {
                        if(val.indexOf(obj) > -1) {
                            thismessage = possible_actions[thisaction][obj]["content"];
                            found = true;
                            thisobj = possible_actions[thisaction][obj];
                        }
                        if(val == obj) {
                            thismessage = possible_actions[thisaction][obj]["content"];
                            found = true;
                            thisobj = possible_actions[thisaction][obj];
                            break;
                        }
                    }
                }
                sendDelayedMessage({username: "GameMaster", message: thismessage, obj: thisobj});
            }

            function getRoomData(room) {
                $.get('/api/' + room, function(response) {
                    var res = JSON.parse(rot13(response));
                    interactions.push({username: "GameMaster", message: res.intro, type: "interaction"});
                    redrawInteractions();
                    possible_actions = res.actions;
                    setRoom(res);
                });
            }

            $(document).ready(function() {
                $.get('/api/actions', function(response) {
                    actions = JSON.parse(rot13(response));
                    var separator = "";
                    for(action in actions) {
                        $('#display-actions').append("<span style='font-weight: bold;'>" + separator + " " + actions[action] + "</span>");
                        if(separator == "") {
                            separator = ", ";
                        }
                    }
                });
                getRoomData(room);
                $('.send-action').on('click', function() {
                    sendMessage($('#action-text').val());
                });
                $('#action-text').on('keyup', function(event) {
                    if(event.keycode == 13 || event.which == 13) {
                        sendMessage($('#action-text').val());
                    }
                });
            });

            socket.on('announcement', function(msg) {
                interactions.push(JSON.parse(msg));
                redrawInteractions();
            });
        </script>
        <style>
            .object {
                font-size: 15px;
                padding: 30px;
                /* border: 1px solid #333; */
                -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
                box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
                margin: 20px; 
                text-transform: uppercase;
                background: white;
                width: 150px;
                height: 150px;
            }
            .iconimage {
                width: 50px;
                height: 50px;
            }
            .GameMaster {
                background: red;
            }
            .announcement {
                width: 100%; 
                margin-top: 15px;
                text-align: center;
                padding: 15px;
                font-weight: bold;
                border: 1px solid red;
                border-radius: 10px;
            }
            .proceed {
                width: 100%; 
                margin-top: 15px;
                text-align: center;
                padding: 15px;
                font-weight: bold;
                border: 4px solid darkgreen;
                border-radius: 10px;
            }
        </style>
    </body>
</html>